@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSans3.ttf);
}

::-webkit-scrollbar {
  height: 8px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  font-family: Source Sans Pro, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.header,
.header .left-navbar {
  align-items: center;
  display: flex;
}

.header {
  background-color: #032541;
  height: 64px;
  justify-content: space-around;
  left: 0;
  margin: 0 auto;
  padding: 0 6.2rem;
  position: fixed;
  top: 0;
  transition: top 0.2s linear;
  width: 100%;
  z-index: 10;
}

.container {
  margin: 4rem auto 0;
  max-width: 1300px;
  --bs-gutter-x: 0;
}

.header .left-navbar a.logo {
  display: block;
  margin-right: 16px;
  width: 154px;
}

a {
  text-decoration: none !important;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.header .left-navbar ul.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  gap: 20px;
}

.header .left-navbar {
  justify-content: center;
}
.header,
.header .left-navbar {
  align-items: center;
  display: flex;
}
ul {
  list-style: none;
  margin-bottom: 0;
}

.header .left-navbar ul.navbar li {
  margin-right: 14px;
}

.dropdown-movies,
.dropdown-tvshow,
.dropdown-people {
  display: inline-block;
  position: relative;
}
.dropdown-people {
  display: inline-block;
  position: relative;
}

#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  transition: top 0.3s;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.header .right-navbar ul li {
  margin-left: 30px;
}
.header .left-navbar ul.navbar li a {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem rem;
}
.dropdown-menu,
.dropdown-menu-tv {
  background: #fff;
  border-radius: 4px !important;
  display: flex;
  display: none;
  flex-direction: column;
  padding: 0.5rem 0;
  position: absolute;
  top: 27px;
  font-weight: normal;
}

.header .right-navbar ul li div.translate-lan {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 26px;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 3px 5px;
  color: #ffffff;
  font-size: 0.9em;
}
.header .right-navbar ul li div.translate-lan:hover {
  background: #ffffff;
  color: #000000;
}

.dropdown-menu,
.dropdown-menu-tv {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 4px !important;
  top: 27px;
  display: none;
  padding: 0.5rem 0;
}

a.nav-a {
  color: rgba(33, 37, 41, 0.9) !important;
  display: block;
  padding: 4px 85px 7px 16px !important;
  font-weight: 500;
  white-space: nowrap !important;
  border-radius: inherit !important;
}

.dropdown-movies:hover .dropdown-menu,
.dropdown-tvshow:hover .dropdown-menu-tv,
.dropdown-people:hover .dropdown-people {
  display: block;
}

.dropdown-movies,
.dropdown-tvshow,
.dropdown-people {
  position: relative;
  display: inline-block;
}

.dropdown-menu a:hover,
.dropdown-menu-tv a:hover {
  background-color: #f8f9fa;
}

a.nav-a {
  border-radius: inherit !important;
  color: rgba(33, 37, 41, 0.9) !important;
  font-weight: 400 !important;
  padding: 4px 85px 7px 16px !important;
  white-space: nowrap !important;
}
.header .right-navbar,
.header .right-navbar ul {
  align-items: center;
  display: flex;
}
.header .right-navbar {
  justify-content: center;
}
.header .right-navbar,
.header .right-navbar ul {
  align-items: center;
  display: flex;
}
.header .right-navbar ul li:first-child {
  margin: 0;
}
.header .right-navbar ul li a {
  color: #fff;
  font-weight: 600;
}
.header .right-navbar ul li a img {
  display: block;
  height: 23px;
  width: 23px;
}
.header .right-navbar ul li div.translate-lan {
  align-items: center;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 0.9em;
  height: 26px;
  justify-content: center;
  padding: 3px 5px;
  width: 28px;
}

ul .navbar {
  justify-content: center;
}
.backdrop-div {
  background-position: left calc((50vw - 170px) - 340px) top;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid var(--primaryColor);
}

.backdrop-div .more-info-poster-div {
  background-image: linear-gradient(
    to right,
    rgba(31.5, 10.5, 10.5, 1) calc((50vw - 170px) - 340px),
    rgba(31.5, 10.5, 10.5, 0.84) 50%,
    rgba(31.5, 10.5, 10.5, 0.84) 100%
  );

  background-size: cover;
  background-repeat: no-repeat;
}

.backdrop-div .mt-0 {
  margin-top: 0;
}

.backdrop-div .mt-0 .more-info-wrapper {
  margin-top: 64px;
  padding: 30px;
}

.backdrop-div .mt-0 .more-info-wrapper .poster-content {
  display: flex;
}

.backdrop-div .mt-0 .more-info-wrapper .poster-content .poster-wrapper img {
  border-radius: 8px;
}

.content-wrappers {
  align-items: flex-start;
  display: flex;
  padding-left: 40px;
}

.title-info {
  color: #fff;
  margin-bottom: 24px;
}

.title-info h2 {
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 600;
  margin-left: 12px;
  width: 100%;
}

.title-info h2:hover {
  color: hsla(0, 0%, 100%, 0.7);
}

.title-info h2 span {
  font-weight: 400;
  opacity: 0.8;
}

.title-info .facts {
  align-items: center;
  display: flex;
  gap: 5px;
}

.title-info .facts span {
  padding-left: 16px;
  padding-right: 5px;
  position: relative;
}

.title-info .facts .before:before {
  content: "";
  font-size: 1.1rem;
  left: 1px;
  position: absolute;
  right: -19px;
}

.score-info {
  align-items: center;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  height: 68px;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;
}

.score-info .user-score {
  margin-left: 6px;
  margin-right: 20px;
}

.score-info .play-div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.score-info .play-div:hover {
  opacity: 0.6;
}

.score-info .play-div a {
  color: #fff;
  display: contents;
}

.score-info .play-div img {
  -webkit-filter: invert(1);
  filter: invert(1);
  height: 22px;
  width: 22px;
}

.overview-info {
  color: #fff;
  margin-left: 12px;
  width: 100%;
}

.overview-info .tagline {
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  opacity: 0.7;
}

.overview-info .overview {
  font-size: 20px;
  margin: 10px 0 8px;
}

.poster-wrapper {
  min-width: 300px;
}

.ott-offer {
  align-items: center;
  background-color: #032541;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  bottom: 9px;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}

.ott-offer .text-wrapper {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  max-height: 60px;
  width: 100%;
}

.ott-offer .text-wrapper .button {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  width: 100%;
}

.ott-offer .text-wrapper .button .provider {
  margin-right: 4px;
  width: 36px;
}

.ott-offer .text-wrapper .button .provider img {
  border-radius: 4px;
}

.ott-offer .text-wrapper .button .text h4 {
  font-weight: 400;
  line-height: 1em;
  opacity: 0.8;
}

.ott-offer .text-wrapper .button .text h3 {
  cursor: pointer;
  font-size: 16px;
  line-height: 1em;
}

.action-btns {
  align-items: center;
  background: #032541;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 46px;
  justify-content: center;
  margin: 0 20px 0 0;
  width: 46px;
}

.action-btns img {
  width: 16px;
}

.remove-mt {
  margin-top: 0;
}

.remove-mt .div-content-wrapper {
  display: flex;
  padding: 30px 40px 30px 30px;
  width: 100%;
}

.left-info-div .white-column-div {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding-right: 30px;
  width: 1052px;
}

.left-info-div .white-column-div .cast-section {
  border-top: none;
  padding: 0 0 30px;
  position: relative;
  width: 100%;
}

.left-info-div .white-column-div .cast-section h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.left-info-div .white-column-div .cast-section p {
  font-size: 17px;
  margin: 20px 0 0;
}

.left-info-div .white-column-div .cast-section p a {
  color: #000;
  font-weight: 600;
}

.right-info-div {
  min-width: 260px;
  width: 260px;
}

.should-fade:after {
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #fff);
  content: "";
  height: 100%;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  will-change: opacity;
}

.is-fading:after {
  opacity: 1;
  transition: 0.3s linear;
}

.is-not-fading:after {
  opacity: 0;
  transition: 0.3s linear;
}

.recommandation-section,
.social-section {
  border-top: 1px solid #d7d7d7;
  padding: 30px 0;
  width: 100%;
}

.recommandation-section h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.recommandation-section .recommandation-container {
  position: relative;
}

.recommandation-section .recommandation-container .scroller {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 10px;
}

.current-season {
  border-top: 1px solid #d7d7d7;
  padding: 30px 0;
  width: 100%;
}

.current-season h3 {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 20px;
  width: 100%;
}

.current-season .season-card {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.flex {
  display: flex;
}

.season-poster,
.season-poster img {
  height: 195px;
  width: 130px;
}

.season-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.season-content h4 {
  margin-bottom: 8px;
}

.season-content p {
  padding-top: 20px;
}

.poster-flex {
  align-items: center;
  background: #dbdbdb;
  display: flex;
  justify-content: center;
  width: 215px;
}

.poster-flex .addWidth {
  height: auto;
  width: 65px;
}

.facts-column {
  margin-bottom: 30px;
}

.facts-column p {
  font-size: 1em;
  font-weight: 500;
}

.facts-column p strong {
  display: block;
  font-weight: 600;
}

.keyword-column {
  margin-bottom: 30px;
}

.keyword-column h4 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 10px;
}

.keyword-column ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 30px;
  width: 100%;
  padding-left: 0;
}

.keyword-column ul li {
  box-sizing: border-box;
  font-size: 0.9em;
  line-height: 24px;
  margin-bottom: 10px;
  margin-right: 5px;
  white-space: nowrap;
}

.keyword-column ul li a {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  padding: 4px 10px;
}

.cast-scroller-div {
  display: flex;
  margin-left: -4px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.cast-scroller-div .single-cast-card {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  margin: 10px 4px 10px 10px;
  min-width: 140px;
  overflow: hidden;
  padding-bottom: 10px;
  width: 140px;
}

.cast-scroller-div .single-cast-card .cast-img-div {
  align-items: center;
  background: #dbdbdb;
  display: flex;
  height: 175px;
  justify-content: center;
}

.cast-scroller-div .single-cast-card .cast-original-name {
  color: #000;
  cursor: pointer;
  font-weight: 700;
  margin: 0 !important;
  padding: 10px 10px 0;
}

.cast-scroller-div .single-cast-card .cast-original-name:hover {
  color: rgba(0, 0, 0, 0.5);
}

.cast-scroller-div .single-cast-card .cast-character-name {
  font-size: 14px !important;
  margin-top: 0 !important;
  padding: 0 10px;
}

.menu {
  align-items: baseline;
  display: flex;
}

.menu .title-heading {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 20px;
  margin-right: 50px;
}

.menu .review-heading {
  border-bottom: 4px solid #000;
  color: #000;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 5px;
}

.card {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
}

.grouped {
  align-items: center;
  display: flex;
}

.grouped .avatar {
  margin-right: 20px;
  width: 64px;
}

.grouped .avatar img {
  border-radius: 50%;
}

.rounded-rating {
  align-content: center;
  align-items: center;
  background-color: #000;
  border-color: #000;
  border-radius: 8px;
  color: #fff;
  display: inline-flex;
  font-size: 14px;
  height: 24px;
  justify-content: center;
  margin-left: 14px;
  padding: 1px 8px;
  width: 54px;
}

.rounded-rating img {
  -webkit-filter: invert(1);
  filter: invert(1);
  margin-right: 5px;
  width: 14px;
}

.rounded-rating span {
  color: #fff;
}

.rating-wrapper h3 {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 0;
}

.rating-wrapper h3:hover {
  color: rgba(0, 0, 0, 0.5);
}

.h5 {
  font-size: 14px !important;
  font-weight: 300 !important;
  margin-bottom: 0;
}

.h5 span {
  font-weight: 700;
}

.teaser {
  padding-left: 84px;
  padding-top: 20px;
}

.teaser .spoiler-para {
  margin-bottom: 16px;
}

.mini-card {
  margin: 0 15px 0 0;
  width: 250px;
}

.image-content {
  cursor: pointer;
  height: 141px;
  width: 250px;
  display: flex;
  justify-content: center;
}

.image-content:hover .release-date {
  visibility: visible;
}

.image-content img {
  border-radius: 8px;
}

.info-div-recommand {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.info-div-recommand .name-href {
  color: #000;
  overflow: hidden;
  padding-right: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meta {
  position: relative;
}

.release-date {
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.9);
  display: flex;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: -44px;
  visibility: hidden;
  width: 100%;
}

.release-date img {
  height: 16px;
  width: 16px;
}

.release-date .black-color {
  -webkit-filter: invert(1);
  filter: invert(1);
  padding-left: 4px;
}

.release-date .date-img {
  margin-right: 4px;
}

.action-img {
  margin-left: 75px;
}

.ml {
  margin-left: 145px;
}

.dummy-poster {
  display: block;
  left: 45px;
  position: relative;
  width: 141px;
}

.details-bar {
  height: 46px;
  gap: 40px;
  position: relative;
  top: 62px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

.avatar {
  width: 64px;
  height: 64px;
}
/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 16px;
  border: none;
  height: 46px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content,
.dropdown-content-overview,
.dropdown-content-share,
.dropdown-content-fandom,
.dropdown-content-media {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03), 0 4px 5px 0 rgba(0, 0, 0, 0.04);
  border-radius: 0.25rem;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 600;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-overview:hover .dropdown-content-overview {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: max-content;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown-share:hover .dropdown-content-share {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: max-content;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown-media:hover .dropdown-content-media {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: max-content;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown-fandom:hover .dropdown-content-fandom {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: max-content;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown-content-media a,
.dropdown-content-share a,
.dropdown-content-overview a,
.dropdown-content-fandom a {
  color: black;
  justify-content: center;
  padding-top: 8px;
}

.dropdown-overview {
  border-bottom: 4px solid rgb(1, 180, 228);
}

.votes {
  padding-right: 20px;
}
.votes .percent {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  /* box-shadow: inset 0 0 50px #000; */
  background: black;
  z-index: 1000;
  padding: 0.5px;
}

.votes .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.votes .percent .number span {
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.votes .percent .number span span {
  /* font-size: 24px; */
  color: white;
}

.votes .text {
  position: relative;
  color: #1d4028;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* transition: 0.5s; */
}

.votes:hover .text {
  color: #fff;
}

.votes svg {
  rotate: -90deg;
  position: relative;
  width: 38px;
  height: 38px;
  z-index: 1000;
}

.votes svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #1d4028;
  stroke-width: 2;
  stroke-linecap: round;
  transform: translate(3px, 2px);
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

.flex-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 144px;
  min-width: 144px;
  margin-left: 16px;
}
/* Circular Progress Bar  */
/* .container {
  height: 400px;
  width: 400px;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 8px;
  box-shadow: 20px 20px 40px rgba(60, 60, 150, 0.25);
  display: grid;
  place-items: center;
} */
.circular-progress {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: white;
  margin-right: 10px;
}
.circular-progress:before {
  content: "";
  position: absolute;
  height: 52px;
  width: 52px;
  background-color: #000000;
  border-radius: 100%;
  color: white;
}
.value-container {
  position: relative;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 2px;

  /* color: #231c3d; */
  color: white;
}
.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* model for the Youtube */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-bottom: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #000;
  margin: auto;
  /* padding: 20px; */
  /* border: 1px solid #888; */
  width: 70%;
  /* max-height: 700px; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-content .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.top .title {
  color: white;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* .iframe {
  height: 100%;
  width: 100%;
  min-width: 100%;
  aspect-ratio: 16/9;
} */

.videocontainer {
  display: flex;
  width: 100%;

  height: 100%;
  /* position: relative;
  padding-bottom: 56.25%; */
}
.videocontainer iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

.viewMore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  margin-left: 3%;
  margin-right: 3%;
}

#readMoreButton {
  cursor: pointer;
  text-decoration: underline;
}

.Null_image {
  display: flex;
  width: 150px;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #03243f;
  padding: 80px 0 80px 0;
  gap: 15px;
}
.footer h3 {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 20px;
  white-space: nowrap;
}
.footer a {
  font-size: 17px;
}
.footer a,
.footer h3 {
  color: #ffffff;
}
.footer .logo-div {
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer .logo-div img {
  position: absolute;
  right: 0;
  bottom: -22px;
}
.footer .logo-div a {
  position: relative;
  top: 118px;
  border-color: #fff;
  background-color: #fff;
  color: rgb(1, 180, 228);
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  padding: 8px 16px;
  border-radius: 5px;
}
.footer .mr {
  margin-right: 40px;
}

.tmdb-footer-logo {
  width: 130px;
}

.info-div ul li {
  line-height: 1.6em;
}

.footer ul {
  padding-left: 0;
}
